.top {
  @apply my-12;
}
.container {
  @apply flex justify-center items-center flex-col;
}
.sub_container {
  @apply flex justify-start items-center flex-wrap w-full;
}
.item {
  @apply m-4 px-8 py-4 border;
}
.bottom {
  @apply my-12;
}

.rounded {
  @apply item rounded-xl;
}
.rounded2 {
  @apply item rounded-tl-lg;
}
.rounded3 {
  @apply item rounded-tl-lg rounded-br-lg rounded-bl-3xl rounded-tr-3xl;
}
.rounded4 {
  @apply item rounded-full;
}

.elliptical {
  @apply item rounded-tl-[8px_48px];
}
.elliptical2 {
  @apply item rounded-t-[50px_20%] rounded-b-[50px_20%];
}
.elliptical3 {
  @apply item rounded-tl-[32px_8px] rounded-tr-[8px_32px] rounded-br-[32px_8px] rounded-bl-[8px_32px];
}

.notched {
  @apply item;
}
.notched:before {
  @apply content-[""] absolute -mt-8 -ml-12 w-8 h-8 rotate-45 bg-gunmetal border-gunmetal border-r-[#ffffff] border;
}
.notched2 {
  @apply item;
}
.notched2:before {
  @apply content-[""] absolute -mt-8 -ml-12 w-8 h-8 rotate-45 bg-gunmetal;
}
.notched3 {
  @apply item;
  clip-path: polygon(0% 12px, 12px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 12px);
}

.scooped {
  @apply item;
}
.scooped:before {
  @apply content-[""] absolute -mt-10 -ml-14 w-12 h-12 rotate-45 rounded-full border border-gunmetal border-r-[#ffffff] bg-gunmetal;
}
.scooped2 {
  @apply item;
  mask: radial-gradient(20px at 40px 40px, transparent 98%, black) -40px -40px;
}

.inverted {
  @apply item relative rounded-[0_15px_15px_15px] text-gunmetal bg-white;
  margin-top: 2rem;
}
.inverted:after {
  @apply content-[""] absolute -top-[40px] -left-[0px] h-10 w-10 rounded-bl-3xl shadow-[0_20px_0_0_white];
}
